In [3]:
# Gather data for analysis - dependencies
import pandas as pd

# Define path of data files
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# Read files into new data frames
school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)

# Merge data from school and student data frames into new data frame - removing duplicate columns
school_student_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

school_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
### Create summary of school district data

# Calculate total number of schools
total_schools = len(school_student_df["school_name"].unique())

# Calculate total number of students
total_students = school_student_df["Student ID"].count()

# Calculate total budget
total_budget_unique = school_student_df["budget"].unique()
total_budget = total_budget_unique.sum()

# Calculate average math and reading scores
avg_math_score = school_student_df["math_score"].mean()
avg_reading_score = school_student_df["reading_score"].mean()

# Calculate number of students with passing scores
students_passing_math = len(school_student_df[school_student_df["math_score"]>=70])
percent_passing_math = students_passing_math/float(total_students)*100

students_passing_reading = len(school_student_df[school_student_df["reading_score"]>=70])
percent_passing_reading = students_passing_reading/float(total_students)*100

students_passing_all = len(school_student_df[(school_student_df["math_score"]>=70) &
                                         (school_student_df["reading_score"]>=70)])
percent_passing_all = students_passing_all/float(total_students)*100

# Create data frame for summarizing district data
district_summary_df = pd.DataFrame({"Total Schools": [total_schools], 
                                    "Total Students": [total_students], 
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [avg_math_score], 
                                    "Average Reading Score": [avg_reading_score],
                                    "% Passing Math": [percent_passing_math],
                                    "% Passing Reading": [percent_passing_reading],
                                    "% Passing Overall": [percent_passing_all]})

# Format data
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format) 
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
# district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
# district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["Average Math Score"]["Average Reading Score"], = district_summary_df["Average Math Score"]["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Passing Overall"] = district_summary_df["% Passing Overall"].map("{:.2f}%".format)

district_summary_df

NameError: name 'school_student_df' is not defined

In [ ]:
### Create School Summary

# Add school name and type columns to new dataframe and set index to school name
school_index = school_df.set_index(["school_name"])["type"]

# Count of school rows to use for total students
school_count = school_student_df["school_name"].value_counts()

# Calculate the total budget info
school_budget = school_student_df.groupby(["school_name"]).max()["budget"]

# Calculate per student budget
student_budget = (school_budget/school_count).astype(int)

# Calculate average math and reading scores
school_math_avg = school_student_df.groupby(["school_name"]).mean()["math_score"]
school_read_avg = school_student_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate passing math, reading and overall percentages

math_pass = school_student_df[school_student_df['math_score'] >= 70].groupby('school_name')['math_score'].count()
math_pass_percent = math_pass/school_count*100

reading_pass = school_student_df[school_student_df['reading_score'] >= 70].groupby('school_name')['reading_score'].count()
reading_pass_percent = reading_pass/school_count*100

all_pass =school_student_df[(school_student_df["math_score"] >= 70) &
            (school_student_df["reading_score"] >= 70)].groupby(["school_name"]).count()["student_name"]  

all_pass_percent = all_pass/school_count*100

# Create dataframe to summarize school information
school_summary_df = pd.DataFrame({"School Type":school_index,
                                "Total Students": school_count,
                                "Total Budget": school_budget,
                                "Per Student Budget":student_budget,  
                                "Average Math Score": school_math_avg, 
                                "Average Reading Score": school_read_avg,
                                "% Passing Math": math_pass_percent,
                                "% Passing Reading": reading_pass_percent,
                                "% Passing Overall": all_pass_percent})


# Format data
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format) 
school_summary_df["Total Budget"] = school_summary_df["Total Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}".format)
school_summary_df["Average Reading Score"] =school_summary_df["Average Reading Score"].map("{:.2f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Passing Overall"] = school_summary_df["% Passing Overall"].map("{:.2f}%".format)

school_summary_df

In [ ]:
### Top Performing Schools by % Overall Passing

# Create new data frame for viewing top 5 peforming schools by % Overall Passing using school_summary_df
# created in cell 3 for the School Summary

top_passing_performers = school_summary_df.sort_values("% Passing Overall",ascending=False)
top_passing_performers.head()

In [ ]:
### Bottom Performing Schools by % Overall Passing

# Create new data frame for viewing bottom 5 peforming schools by % Overall Passing using school_summary_df
# created in cell 3 for the School Summary

bottom_passing_performers = school_summary_df.sort_values("% Passing Overall")
bottom_passing_performers.head()

In [ ]:
### Math Scores by Grade

# Pull necessary columns for calculations from original school_student_df.
math_score_columns = ["school_name","grade","math_score"]
math_score_df = school_student_df[math_score_columns]

# Set index to school name
math_index = math_score_df.set_index(["school_name"])

# Locate and pull data for each of the 4 grades into a series
nineth_grade = math_score_df.loc[math_score_df["grade"] == "9th",:]
tenth_grade = math_score_df.loc[math_score_df["grade"] == "10th",:]
eleventh_grade = math_score_df.loc[math_score_df["grade"] == "11th",:]
twelfth_grade = math_score_df.loc[math_score_df["grade"] == "12th",:]

# Group grade data by school
nineth_math_avg = nineth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_math_avg = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_math_avg = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_math_avg = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

# Create data frame for results
avg_math_score_df = pd.DataFrame({"9th":nineth_math_avg,
                                "10th": tenth_math_avg,
                                "11th": eleventh_math_avg,
                                "12th":twelfth_math_avg})

# Format data
avg_math_score_df.index.name=None
avg_math_score_df["9th"] = avg_math_score_df["9th"].map("{:.2f}%".format) 
avg_math_score_df["10th"] = avg_math_score_df["10th"].map("{:.2f}%".format) 
avg_math_score_df["11th"] = avg_math_score_df["11th"].map("{:.2f}%".format) 
avg_math_score_df["12th"] = avg_math_score_df["12th"].map("{:.2f}%".format) 


avg_math_score_df

In [ ]:
### Reading Scores by Grade

# Pull necessary columns for calculations from original school_student_df.
reading_score_columns = ["school_name","grade","reading_score"]
reading_score_df = school_student_df[reading_score_columns]

# Set index to school name
reading_index = reading_score_df.set_index(["school_name"])

# Locate and pull data for each of the 4 grades into a series
nineth_grade_r = reading_score_df.loc[reading_score_df["grade"] == "9th",:]
tenth_grade_r = reading_score_df.loc[reading_score_df["grade"] == "10th",:]
eleventh_grade_r = reading_score_df.loc[reading_score_df["grade"] == "11th",:]
twelfth_grade_r = reading_score_df.loc[reading_score_df["grade"] == "12th",:]

# Group grade data by school
nineth_reading_avg = nineth_grade_r.groupby(["school_name"]).mean()["reading_score"]
tenth_reading_avg = tenth_grade_r.groupby(["school_name"]).mean()["reading_score"]
eleventh_reading_avg = eleventh_grade_r.groupby(["school_name"]).mean()["reading_score"]
twelfth_reading_avg = twelfth_grade_r.groupby(["school_name"]).mean()["reading_score"]

# Create data frame for results
avg_reading_score_df = pd.DataFrame({"9th":nineth_reading_avg,
                                    "10th": tenth_reading_avg,
                                    "11th": eleventh_reading_avg,
                                    "12th":twelfth_reading_avg})

# Format data
avg_reading_score_df.index.name=None
avg_reading_score_df["9th"] = avg_reading_score_df["9th"].map("{:.2f}%".format) 
avg_reading_score_df["10th"] = avg_reading_score_df["10th"].map("{:.2f}%".format) 
avg_reading_score_df["11th"] = avg_reading_score_df["11th"].map("{:.2f}%".format) 
avg_reading_score_df["12th"] = avg_reading_score_df["12th"].map("{:.2f}%".format) 


avg_reading_score_df

In [ ]:
### Scores by School Spending

# Create new data frame from School Summary data frame with only needed columns

school_spend_df = pd.DataFrame({"Per Student Budget":student_budget,
                                "Average Math Score": school_math_avg, 
                                "Average Reading Score": school_read_avg,
                                "% Passing Math": math_pass_percent,
                                "% Passing Reading": reading_pass_percent,
                                "% Passing Overall": all_pass_percent})

# Create bins to hold spending ranges
school_spend_bins = [0, 584, 629, 644, 680]

# Create bin labels
school_spend_labels = ["< $585","$585-630","$630-645","$645-680"]

# Place data into bins
school_spend_df["Spending Ranges (per Student)"] = pd.cut(school_spend_df["Per Student Budget"]
                                ,school_spend_bins,labels = school_spend_labels,include_lowest = True)
# Set index on dataframe
school_spend_df = school_spend_df.set_index(["Spending Ranges (per Student)"])

# Group school_spend_df by the binned Spending Ranges (per Student)
spend_per_student = school_spend_df.groupby(["Spending Ranges (per Student)"]).mean()[
    ["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]

# Formatting
spend_per_student["Average Math Score"] = spend_per_student["Average Math Score"].map("{:.2f}".format)
spend_per_student["Average Reading Score"] = spend_per_student["Average Reading Score"].map("{:.2f}".format)
spend_per_student["% Passing Math"] = spend_per_student["% Passing Math"].map("{:.2f}%".format)
spend_per_student["% Passing Reading"] = spend_per_student["% Passing Reading"].map("{:.2f}%".format)
spend_per_student["% Passing Overall"] = spend_per_student["% Passing Overall"].map("{:.2f}%".format)
    
spend_per_student

In [ ]:
### Scores by School Size

# Create new data frame from School Summary data frame with only needed columns

school_size_df = pd.DataFrame({"Total Students": school_count,
                                "Average Math Score": school_math_avg, 
                                "Average Reading Score": school_read_avg,
                                "% Passing Math": math_pass_percent,
                                "% Passing Reading": reading_pass_percent,
                                "% Passing Overall": all_pass_percent})

# Create bins to hold spending ranges
school_size_bins = [0, 999, 1999, 5000]

# Create bin labels
school_size_labels = ["Small < 1,000","Medium (1,000-2,000)","Large (2,000-5,000)"]

# Place data into bins
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"],school_size_bins,
                                                    labels = school_size_labels,include_lowest = True)
# Set index on dataframe
school_size_df = school_size_df.set_index(["School Size"])

# Group school_size_df by the binned school size ranges
school_size = school_size_df.groupby(["School Size"]).mean()[["Average Math Score","Average Reading Score",
                                            "% Passing Math","% Passing Reading","% Passing Overall"]]

# Formatting
school_size["Average Math Score"] = school_size["Average Math Score"].map("{:.2f}".format)
school_size["Average Reading Score"] = school_size["Average Reading Score"].map("{:.2f}".format)
school_size["% Passing Math"] = school_size["% Passing Math"].map("{:.2f}%".format)
school_size["% Passing Reading"] = school_size["% Passing Reading"].map("{:.2f}%".format)
school_size["% Passing Overall"] = school_size["% Passing Overall"].map("{:.2f}%".format)
school_size

In [ ]:
### Scores by School Type

school_type_df = pd.DataFrame({"School Type":school_index,
                                "Average Math Score": school_math_avg, 
                                "Average Reading Score": school_read_avg,
                                "% Passing Math": math_pass_percent,
                                "% Passing Reading": reading_pass_percent,
                                "% Passing Overall": all_pass_percent})

# Set index on dataframe
school_type_df = school_type_df.set_index(["School Type"])

# Group school type 
school_type = school_type_df.groupby(["School Type"]).mean()[["Average Math Score","Average Reading Score",
                                            "% Passing Math","% Passing Reading","% Passing Overall"]]

# Formatting
school_type["Average Math Score"] = school_type["Average Math Score"].map("{:.2f}".format)
school_type["Average Reading Score"] = school_type["Average Reading Score"].map("{:.2f}".format)
school_type["% Passing Math"] = school_type["% Passing Math"].map("{:.2f}%".format)
school_type["% Passing Reading"] = school_type["% Passing Reading"].map("{:.2f}%".format)
school_type["% Passing Overall"] = school_type["% Passing Overall"].map("{:.2f}%".format)


school_type